@model QLBGD.Models.NhanHieu

@{
    ViewBag.Title = "Xóa nhãn hiệu";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<h4 style="color:red;"> Bạn có chắc chắn xóa thông tin này?</h4>
<div>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <img width="200px" height="200px" style="border-radius:50%;margin-left:30px;margin-top:20px;" src="~/Images/brands/@Html.DisplayFor(model => model.AnhNH)" />
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <div>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Tên nhãn hiệu
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TenNhanHieu)
                    </dd>

                    <dt>
                        Ghi chú
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.GhiChu)
                    </dd>

                    <dt>
                        Ảnh nhãn hiệu
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.AnhNH)
                    </dd>

                </dl>
            </div>

        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
