@model IEnumerable<QLBGD.Models.PhanHoi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PhanHoi1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhachHang.Ho)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SanPham.TenSanPham)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PhanHoi1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhachHang.Ho)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SanPham.TenSanPham)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaPhanHoi }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaPhanHoi }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaPhanHoi })
        </td>
    </tr>
}

</table>
