@model QLBGD.Models.DonViVanChuyen

@{
    ViewBag.Title = "Xóa đơn vị vận chuyển";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3 style="color: red">Bạn có chắc chắn muốn xóa đơn vị này?</h3>
<div>
    <hr />
    <div class="row">
        <div class="col-md-2">
            <img width="200px" height="200px" style="border-radius:50%;margin-left:30px;margin-top:20px;" src="~/Images/shippers/@Html.DisplayFor(model => model.AnhDVVC)" />
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.TenDonVi)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TenDonVi)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SDT)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SDT)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AnhDVVC)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AnhDVVC)
                </dd>

            </dl>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
