@model QLBGD.Models.KhachHang

@{
    ViewBag.Title = "Thông tin khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin khách hàng</h2>

<div class="row">
    <hr />
    <div class="col-md-1">

    </div>
    <div class="col-md-11">
        <dl class="dl-horizontal">
            <dt style="height:40px;font-size:30px;">
                @Html.DisplayFor(model => model.Ho) @Html.DisplayFor(model => model.Ten)
            </dt>

            <dt>
                @Html.DisplayNameFor(model => model.GioiTinh)
            </dt>

            <dd>
                @{ var gtinh = "";
                    if (Model.GioiTinh == true)
                    { gtinh = "Nam"; }
                    else
                    { gtinh = "Nữ"; }
                }
                @gtinh
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SDT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SDT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MatKhau)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MatKhau)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TinhOrTP)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TinhOrTP)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DiaChi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DiaChi)
            </dd>

        </dl>
    </div>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaKhachHang }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
