@model IEnumerable<QLBGD.Models.SanPham>

<div class="card mb-4">
    <div class="card-header bg-dark text-white">
        <i class="bi bi-table mr-1"></i>
        Danh sách sản phẩm
    </div>
    @*<p>
            @Html.ActionLink("Tạo mới", "Create")
        </p>*@
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr class="bg-info">
                        <th>
                            Mã sản phẩm
                        </th>
                        <th>
                            Tên sản phẩm
                        </th>
                        <th>
                            Màu sắc
                        </th>
                        <th>
                            Kích thước
                        </th>
                        <th>
                            Đơn giá
                        </th>
                        <th>
                            Tình trạng
                        </th>
                        <th>
                            Mô tả
                        </th>
                        <th>
                            Loại sản phẩm
                        </th>
                        <th>
                            Ảnh sản phẩm
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaSanPham)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenSanPham)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MauSac)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.KichThuoc)
                            </td>
                            <td>
                                @String.Format("{0:0,0}", item.DonGia) VND
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TinhTrang)
                            </td>
                            <td style="width:250px;">
                                @Html.DisplayFor(modelItem => item.MoTa)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LoaiSanPham.TenLoaiSanPham)
                            </td>
                            <td>
                                <img src="~/Images/products/@Html.DisplayFor(modelItem => item.AnhSP)" width="200" height="200" />
                            </td>
                            <td>
                                @using (Html.BeginForm("ThemGioHang", "GioHang", new { @cMaSanPham = item.MaSanPham, @strURL = Request.Url.ToString() }))
                                {
                                    <input type="submit" style="cursor:pointer" value="Chọn mua" class="btn btn-danger" />
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

