@model QLBGD.Models.LoaiSanPham

@{
    ViewBag.Title = "Xóa loại sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="m-3">
    <h3 style="color: red">Bạn có chắc chắn muốn xóa loại sản phẩm này?</h3>
    <div>
        <dl class="dl-horizontal">
            <dt>
                Mã loại sản phẩm:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaLoaiSanPham)
            </dd>

            <dt>
                Tên loại sản phẩm:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenLoaiSanPham)
            </dd>

            <dt>
                Đơn vị tính:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DVT)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-danger" /> |
                @Html.ActionLink("Quay lại", "Index")
            </div>
        }
    </div>
</div>

