@using QLBGD.Models
@model List<GioHang>
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    int i = 0;
}

<h3>Giỏ hàng</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <td>STT</td>

            <td scope="col">Ảnh sản phẩm</td>

            <td scope="col">Mã sản phẩm</td>

            <td scope="col">Tên sản phẩm</td>

            <td scope="col">Đơn giá</td>

            <td scope="col">Số lượng</td>

            <td scope="col">Thành tiền</td>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            @{
                i++;
            }
            <td scope="row">@i</td>

            <td><img src="@Url.Content("~/Images/products/" + item.iAnhSanPham)" width="50px" height="50px"</td>

            <td>@item.iMaSanPham</td>

            <td>@item.iTenSanPham</td>

            <td>@String.Format("{0:0,0}", item.iDonGia) VND</td>

            <td>@item.iSoLuong</td>

            <td>@String.Format("{0:0,0}", item.iThanhTien) VND</td>

        </tr>
    }
    <tr>
        <td colspan="7" style="text-align:right">
            Tổng tiền:  @String.Format("{0:0,0}", @ViewBag.TongTien) VND
        </td>
    </tr>
    <tr>
        <td>
            @using (Html.BeginForm("DatHang", "GioHang", new { @maDonViVanChuyen = ViewBag.MaDonViVanChuyen }))
            {

                <label>Chọn đơn vị vận chuyển: </label> @Html.DropDownList("MaDonViVanChuyen", null, htmlAttributes: new { @class = "form-control" })
                <label>Nhập địa chỉ giao hàng: </label> <input type="text" name="diaChiGiao" />
                <p>Nếu quý khách muốn giao tại nhà thì không cần phải nhập!</p>
                <input type="submit" value="Đặt hàng" class="btn btn-primary" />
            }
        </td>
        <td colspan="6" style="text-align:right">
            <div class="btn btn-success" style="margin-top: 2px; width:200px;">
                <a href="@Url.Action("SuaGioHang", "GioHang")" style="text-decoration: none;color:whitesmoke;">
                    Chỉnh sửa giỏ hàng
                </a>
            </div>
        </td>
    </tr>
</table>