<nav class="sb-sidenav accordion" style="background-color: #F8F8FF;" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading" style="color: #2F4F4F; ">Quản lý sản phẩm</div>

            <a class="nav-link font-weight-bold" style="color: #191970;" href="@Url.Action("Index", "LoaiSanPhamNV")">
                <div class="sb-nav-link-icon"><i class="bi bi-bookmark-heart"></i></div>
                Loại sản phẩm
            </a>

            <a class="nav-link font-weight-bold" style="color: #191970;" href="@Url.Action("Index", "NhanHieuNV")">
                <div class="sb-nav-link-icon"><i class="bi bi-bag-check"></i></div>
                Nhãn hiệu
            </a>

            <a class="nav-link font-weight-bold" style="color: #191970;" href="@Url.Action("Index", "SanPhamNV")">
                <div class="sb-nav-link-icon"><i class="bi bi-box-seam"></i></div>
                Sản phẩm
            </a>

            <div class="sb-sidenav-menu-heading" style="color: #2F4F4F; ">Quản lý đơn hàng</div>

            <a class="nav-link font-weight-bold" style="color: #191970;" href="@Url.Action("Index", "DonDatHangNV")">
                <div class="sb-nav-link-icon"><i class="bi bi-bag-dash"></i></div>
                Đơn đặt hàng
            </a>


            <div class="sb-sidenav-menu-heading" style="color: #2F4F4F; ">Quản lý vận chuyển</div>

            <a class="nav-link font-weight-bold" style="color: #191970;" href="@Url.Action("Index", "DonViVanChuyenNV")">
                <div class="sb-nav-link-icon"><i class="bi bi-truck"></i></div>
                Đơn vị vận chuyển
            </a>
        </div>
    </div>
    
</nav>
